@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To El-Haddad Page</h1>
    <p>Learn about <a href="https://www.facebook.com/Mohamed.Elhdadd/">building FaceBook Profile</a>.</p>
</div>
