@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />
<form asp-action="Create">
    <partial name="PartialViews/CreateEditDepatmentPartial"/>

    <input type="submit" value="Create" class="btn btn-primary" /> |
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection {

    <partial Name="_ValidationScriptsPartial" />

    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
}

