@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Department?</h1>
<br />
<br />
<form asp-action="Delete">

    <div asp-validation-summary="ModelOnly"></div>
    <partial name="PartialViews/DeleteDetailsDepartmentPartial" />


    <input type="submit" value="Delete" class="btn btn-danger"/> |
    <a asp-action="Index" class="btn btn-secondary">Cansel</a>

</form>

