@model RoleViewModel
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
