@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />
<div >
    <partial name="PartialViews/DeleteDetailsEmployee" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |

    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>

