@model DepartmentViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="Code"></label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input asp-for="DateOfCreation" class="form-control" />
</div>
