@model DepartmentViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="Code"></label>
    <input asp-for="Code" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input asp-for="DateOfCreation" class="form-control" readonly />
</div>

