@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl">
			<div asp-validation-summary="All"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>
@section ValidationScriptSection
{
	<partial Name="_ValidationScriptsPartial" />
}



