@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="ModelOnly"></div>
			<input asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text text-danger"></span>
			<br />
			<input asp-for="ConfirmPasseword" placeholder="Confirm New Password" required="">
			<span asp-validation-for="ConfirmPasseword" class="text text-danger"></span>
			<br />

			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection
{
	<partial Name="_ValidationScriptsPartial" />
}

