@model SignUpViewModel;
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignUp">
			<div asp-validation-summary="ModelOnly"></div>
			<input asp-for="FName" placeholder="First Name" required="">
			<span asp-validation-for="FName" class="text-danger"></span>
			<br />

			<input asp-for="LName" placeholder="Last Name" required="">
			<span asp-validation-for="LName" class="text-danger"></span>
			<br />

			<input asp-for="UserName" placeholder="User Name" required="">
			<span asp-validation-for="UserName" class="text-danger"></span>
			<br />

			<input asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input  asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<input asp-for="ConfirmPasseword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPasseword" class="text-danger"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
					<span asp-validation-for="IsAgree" class="text-danger"></span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do you have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>
@section ValidationScriptSection 
{
	<partial Name="_ValidationScriptsPartial" />
}

