@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn">
			<div asp-validation-summary="ModelOnly"></div>
			<input asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="SignUp"> Regester Now!</a></p>
		<p><a asp-action="ForgetPassword"> Forget Password!</a></p>
	</div>
</div>
@section ValidationScriptSection
{
	<partial Name="_ValidationScriptsPartial" />
}

